* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.monopoly {
    margin: auto;
    width: max-content;
}

table {
    border-collapse: collapse;
}

.monopoly>table {
    --card-height: 14vmin;
    --card-width: 8vmin;
    --row-length: 2;
    --prop-color: black;
    --player-color: red;
    font-size: 6px;
}

td {
    width: var(--card-height);
    height: var(--card-height);
    border: 1px solid;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: " ", sans-serif;
}

.card {
    width: var(--card-width);
}

.arena {
    height: calc(var(--card-width) * var(--row-length));
}

:has(>.side-row) {
    vertical-align: top;
}

.side-row {
    position: absolute;
    transform-origin: left bottom;
    transform: translateY(-100%) rotate(90deg);
}

.side-row.right {
    width: calc(var(--card-width) * var(--row-length));
}

.side-row.right tr {
    rotate: 180deg;
}

.side-row td {
    border: none;
}

.side-row td:not(:first-child) {
    border: 1px solid;
}

.property {
    background: linear-gradient(to bottom, var(--prop-color) 20%, transparent 20%);
}

.chest {
    background: url(../img/chest.jpg) no-repeat;
    background-size: contain;
}

.chance {
    background: url(../img/chance.png) no-repeat;
    background-size: 100% 100%;
}

.chip {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: var(--player-color);
    transition: 300ms;
    border-radius: 50px;
}

.chip:hover {
    opacity: 0.2;
}

.player-names {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

die {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    box-shadow: 0 0 5px 2px black;
    margin-right: 20px;
    position: relative;
}

dot {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 15%;
    left: 15%;
}

:has(:nth-child(6):last-child)>dot:nth-child(5) {
    top: 40%;
}

:has(:nth-child(6):last-child)>dot:nth-child(2) {
    top: 40%;
    left: 65%;
}

:has(:nth-child(4):last-child)>dot:nth-child(2),
:has(:nth-child(5):last-child)>dot:nth-child(4),
:has(:nth-child(6):last-child)>dot:nth-child(4) {
    left: 65%;
}

:has(:nth-child(4):last-child)>dot:nth-child(4),
:has(:nth-child(5):last-child)>dot:nth-child(5),
:has(:nth-child(6):last-child)>dot:nth-child(3) {
    top: 65%;
}

:has(:nth-child(2):last-child)>dot:nth-child(2),
:has(:nth-child(3):last-child)>dot:nth-child(3),
:has(:nth-child(4):last-child)>dot:nth-child(3),
:has(:nth-child(5):last-child)>dot:nth-child(3),
:has(:nth-child(6):last-child)>dot:nth-child(6) {
    top: 65%;
    left: 65%;
}


:has(:nth-child(5):last-child)>dot:nth-child(2),
:has(:nth-child(3):last-child)>dot:nth-child(2),
dot:only-child {
    top: 40%;
    left: 40%;
}